.form-element {
  input {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
button {
  background: none;
  border-radius: 100px;
  border: 1px solid;
  border-color: #ccc;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  &.primary {
    border-color: blue;
  }
}